/* TOP NAV ELEMENTS */

.top-nav {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 50px;
  width: 100%;
  display: flex;
}

.search {
  height: 50%;
  width: 60%;
  margin: auto auto;
  display: flex;
  justify-content: center;
}

.search-field {
  height: 90%;
  width: 50%;
  margin-left: 15px;
  background-color: #e7e7e7;
  border-radius: 3px;
  border: none;
}

.settings {
  margin: auto 10px;
}

.logo {
  margin: auto 0 auto 15px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* BREADCRUMB BAR ELEMENTS */

.breadcrumbs-bar {
  height: 75px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.breadcrumbs-link {
  text-decoration: none;
  padding: 5px 10px;
}

.breadcrumbs-link:hover {
  background-color: #e7e7e7;
  border-radius: 5px;
}

.breadcrumbs-bar-icons {
  margin-right: 11px;
}

/* Tooltips from w3schools https://www.w3schools.com/howto/howto_css_tooltip.asp */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  font-size: 12px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -10%;
  left: 25%;
  margin-left: -30px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*Share Menu*/

.ui-autocomplete-category {
  font-weight: bold;
  padding: 0.2em 0.4em;
  margin: 0.8em 0 0.2em;
  line-height: 1.5;
}

/* input[type="file"] {
  display: none;
} */

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/*Bottom right action icons*/
.circle-icons {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0px;
  bottom: 25px;
}

.circle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f9f9f9;
  margin: 0 20px 0 0;
  opacity: 0.7;
  height: 100px;
  width: 100px;
}

.icon-container {
  margin: auto;
}

/* USER PROFILE ON THE SIDEBAR */
.user-profile {
  position: absolute;
  border: 1px solid red;
  height: 20%;
  width: 320px;
  bottom: 0px;
}
